In [35]:
def score(name):
    marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77}

    for key, value in marks.items():
        if key == name:
            return value
    return "Cannot find this student's name"

if __name__ == "__main__":
    name = 'Andy'
    print(score(name))

88

In [56]:
def Average(l): 
    avg = sum(l) / len(l) 
    return avg
  
grades = [88,66,90,55,77] 
average = Average(grades) 
  
print(average)

75.2

In [58]:
def printout(num):
    n=0
    while n<num:
        print(n,n**2)
        n+=1
        
printout(8)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49

In [68]:
def whileSum(num):
    n=1
    sum=0
    while n<=num:
        sum=sum+n
        n+=1
    print(sum)
whileSum(8)

36

In [81]:
def forSum(num):
    sum=0
    for n in range(num):
        print(sum)
        sum=sum+n
forSum(8)

0
0
1
3
6
10
15
21

In [100]:
import statistics
n=100
data1 = range(1,n+1)
 
x = statistics.mean(data1)
y = sum(data1)
z = statistics.pvariance(data1)

print(x,y,z)

50.5 5050 833.25

In [104]:
def Min(v1,v2,v3,v4):
    min_value=v1
    if v2<min_value:
        min_value=v2
    if v3<min_value:
        min_value=v3
    if v4<min_value:
        min_value=v4
    return min_value

Min(5,6,8,4)

4

In [123]:
def calendar(a,b,c):
    date=a
    month=b
    year=c
    word=(f"today is {date}.{month}.{year}")

    return word

calendar(10, "oct",2022)

'today is 10.oct.2022'